In [1]:
%matplotlib inline
import pandas as pd

In [2]:
cast = pd.read_csv('C:/Users/Pc/OneDrive/Pictures/Data science assignments/week 10/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [5]:
total_movies = cast.shape[0]

In [7]:
print("Total movies listed in the dataset is", total_movies)

Total movies listed in the dataset is 3611212

### What are the earliest two films listed in the titles dataframe?

In [10]:
df = cast.copy()
sorted_df = df.sort_values('year',ascending=  True)
year_lst = sorted_df["year"].unique()[:2]
ind_df = sorted_df.set_index("year")
early_mov_lst = ind_df.loc[year_lst]["title"].unique()

In [11]:
print(f"The earliest two films listed in the dataframe are '{early_mov_lst[0]}' and '{early_mov_lst[1]}'")

The earliest two films listed in the dataframe are 'Miss Jerry' and 'Soldiers of the Cross'

### How many movies have the title "Hamlet"?

In [13]:
title_count = df['title'].str.contains('Hamlet').sum()

In [14]:
print(f"There are about {title_count} films that contains 'Hamlet' in their title.")

There are about 921 films that contains 'Hamlet' in their title.

### How many movies are titled "North by Northwest"?

In [15]:
titles_count = df['title'].str.contains('North by Northwest').sum()

In [16]:
print(f"There are about {titles_count} films titled 'North by Northwest'.")

There are about 112 films titled 'North by Northwest'.

### When was the first movie titled "Hamlet" made?

In [17]:
hamlet_movies = df[df['title'] == 'Hamlet']
hamlet_movies = hamlet_movies.sort_values(by='year')
first_hamlet_movie_year = hamlet_movies.iloc[0]['year']

In [18]:
print(f"The first movie titled 'Hamlet' was made in {first_hamlet_movie_year}.")

The first movie titled 'Hamlet' was made in 1910.

### List all of the "Treasure Island" movies from earliest to most recent.

In [27]:
treasure_island_movies = df[df['title'].str.contains('Treasure Island')]
sorted_treasure_island_movies = treasure_island_movies.sort_values(by='year')

In [28]:
sorted_treasure_island_movies

,title,year,name,type,character,n
1417884,Treasure Island,1918,Herschel Mayall,actor,Prologue Player,NaN
830114,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
840745,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
909157,Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
1261579,Treasure Island,1918,Raymond Lee,actor,Bit Role,NaN
...,...,...,...,...,...,...
112778,National Theatre Live: Treasure Island,2015,Raj Bajaj,actor,Job Anderson,NaN
582897,National Theatre Live: Treasure Island,2015,Paul (II) Dodds,actor,Captain Smollett,NaN
2654964,National Theatre Live: Treasure Island,2015,Claire-Louise Cordwell,actress,Joan the Goat,NaN
511053,National Theatre Live: Treasure Island,2015,Arthur Darvill,actor,Long John Silver,2.0
2770990,National Theatre Live: Treasure Island,2015,Patsy Ferran,actress,Jim Hawkins,1.0

### How many movies were made in the year 1950?

In [29]:
movies_1950 = df[df['year'] == 1950]
number_of_movies_1950 = len(movies_1950)

In [30]:
# Print the result
print(f"Number of movies made in the year 1950: {number_of_movies_1950}")

Number of movies made in the year 1950: 22006

### How many movies were made in the year 1960?

In [31]:
movies_1960 = df[df['year'] == 1960]
number_of_movies_1960 = len(movies_1960)

In [32]:
# Print the result
print(f"Number of movies made in the year 1960: {number_of_movies_1960}")

Number of movies made in the year 1960: 18456

### How many movies were made from 1950 through 1959?

In [33]:
movies_1950s = df[(df['year'] >= 1950) & (df['year'] <= 1959)]
num_movies_1950s = len(movies_1950s)

In [34]:
print("Number of movies made from 1950 through 1959:", num_movies_1950s)

Number of movies made from 1950 through 1959: 210986

### In what years has a movie titled "Batman" been released?

In [35]:
batman_movies = df[df['title'] == 'Batman']
release_years = batman_movies['year'].unique()

In [36]:
print("Years in which a movie titled 'Batman' was released:")
for year in release_years:
    print(year)

Years in which a movie titled 'Batman' was released:
1943
1989

### How many roles were there in the movie "Inception"?

In [39]:
inception_roles = df[df['title'] == "Inception"]
num_roles_in_inception = inception_roles['type'].count()

In [40]:
print("Number of roles in 'Inception':", num_roles_in_inception)

Number of roles in 'Inception': 77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [41]:
inception_roles = df[df['title'] == "Inception"]

# Count the number of roles in "Inception" that do not have an "n" value
roles_without_n_value = len(inception_roles[inception_roles['n'].isna()])

In [42]:
print("Number of roles in 'Inception' without an 'n' value:", roles_without_n_value)

Number of roles in 'Inception' without an 'n' value: 26

### But how many roles in the movie "Inception" did receive an "n" value?

In [47]:
inception_roles = df[df['title'] == "Inception"]
num_roles_with_n_value = len(inception_roles[inception_roles['n'].notnull()])

In [48]:
print("Number of roles in 'Inception' with 'n' value:", num_roles_with_n_value)

Number of roles in 'Inception' with 'n' value: 51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [49]:
north_by_northwest_cast = df[df['title'] == "North by Northwest"]

north_by_northwest_cast['n'] = pd.to_numeric(north_by_northwest_cast['n'], errors='coerce')

north_by_northwest_cast = north_by_northwest_cast.dropna(subset=['n'])

north_by_northwest_cast = north_by_northwest_cast.sort_values(by='n')

C:\Users\Pc\AppData\Local\Temp\ipykernel_5136\4237970383.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  north_by_northwest_cast['n'] = pd.to_numeric(north_by_northwest_cast['n'], errors='coerce')

In [51]:
north_by_northwest_cast

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [55]:
sleuth_1972 = df[(df['title'] == "Sleuth") & (df['n'].notnull())]

sleuth_1972 = sleuth_1972.sort_values(by='n', ascending=False)

In [56]:
sleuth_1972

,title,year,name,type,character,n
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1741124,Sleuth,2007,Harold Pinter,actor,Man on T.V.,3.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
1246855,Sleuth,2007,Jude Law,actor,Milo,2.0
314692,Sleuth,2007,Michael Caine,actor,Andrew,1.0
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [58]:
sleuth_2007 = df[(df['title'] == "Sleuth") & (df['year'] == 2007)]

sleuth_2007 = sleuth_2007.sort_values(by='n', ascending = False)

In [59]:
sleuth_2007

          title  year                 name     type          character    n
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [65]:
hamlet_1921 = df[(df['title'] == 'Hamlet') & (df['year'] == 1921)]

num_credited_roles = hamlet_1921['n'].shape[0]

In [66]:
print("Number of credited roles in the silent 1921 version of 'Hamlet':", num_credited_roles)

Number of credited roles in the silent 1921 version of 'Hamlet': 9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [71]:
hamlet_1996_roles = df[(df['title'] == 'Hamlet') & (df['year'] == 1996)]

num_roles_in_hamlet_1996 = hamlet_1996_roles['n'].shape[0]

In [72]:
print("Number of roles credited in Branagh's 1996 'Hamlet':", num_roles_in_hamlet_1996)

Number of roles credited in Branagh's 1996 'Hamlet': 54

### How many "Hamlet" roles have been listed in all film credits through history?

In [73]:
hamlet_roles = df[df['title'].str.contains("Hamlet", case=False)]

num_hamlet_roles = len(hamlet_roles)

In [74]:
print("Number of 'Hamlet' roles in film credits through history:", num_hamlet_roles)

Number of 'Hamlet' roles in film credits through history: 921

### How many people have played an "Ophelia"?

In [81]:
ophelia_actors = df[df['character'] == "Ophelia"]

num_ophelia_actors = len(ophelia_actors)

In [82]:
print("Number of people who have played 'Ophelia':", num_ophelia_actors)

Number of people who have played 'Ophelia': 111

### How many people have played a role called "The Dude"?

In [90]:
the_dude_roles = df[df['character'] == "The Dude"]

num_people_playing_the_dude = the_dude_roles['character'].count()

In [91]:
print("Number of people who have played 'The Dude':", num_people_playing_the_dude)

Number of people who have played 'The Dude': 18

### How many people have played a role called "The Stranger"?

In [92]:
the_stranger_roles = df[df['character'] == "The Stranger"]

num_people_playing_the_stranger = the_stranger_roles['character'].count()

In [94]:
print("Number of people who have played 'The Stranger':", num_people_playing_the_stranger)

Number of people who have played 'The Stranger': 208

### How many roles has Sidney Poitier played throughout his career?

In [98]:
the_sidney_poitier_roles = df[df['name'] == "Sidney Poitier"]

num_the_sidney_poitier_roles = the_sidney_poitier_roles['character'].count()

In [100]:
print(f"Total no of roles Sidney Politier has played throughout his career is {num_the_sidney_poitier_roles}")

Total no of roles Sidney Politier has played throughout his career is 43

### How many roles has Judi Dench played?

In [103]:
judi_roles = df[df['name'] == "Judi Dench"]

num_judi_roles = judi_roles['character'].count()

In [105]:
print(f"Total no of roles Judi Dench has played throughout his career is {num_judi_roles}")

Total no of roles Judi Dench has played throughout his career is 55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [111]:
index_df = df.set_index(["name", "year", "n"])
yr_lst = [val for val in range(1940, 1950)]
new_df = index_df.loc[("Cary Grant", yr_lst, 2)].sort_index(ascending = True).reset_index()

In [112]:
new_df

         name  year    n             title   type    character
0  Cary Grant  1940  2.0  My Favorite Wife  actor         Nick
1  Cary Grant  1941  2.0    Penny Serenade  actor  Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [113]:
index_df = cast.set_index(["name", "year", "n"])
yr_lst = [val for val in range(1940, 1950)]
new_df = index_df.loc[("Cary Grant", yr_lst, 1)].sort_index(ascending = True).reset_index()

In [114]:
new_df

,name,year,n,title,type,character
0,Cary Grant,1940,1.0,His Girl Friday,actor,Walter Burns
1,Cary Grant,1940,1.0,The Howards of Virginia,actor,Matt Howard
2,Cary Grant,1940,1.0,The Philadelphia Story,actor,C. K. Dexter Haven
3,Cary Grant,1941,1.0,Suspicion,actor,Johnnie
4,Cary Grant,1942,1.0,Once Upon a Honeymoon,actor,Patrick 'Pat' O'Toole
5,Cary Grant,1942,1.0,The Talk of the Town,actor,Leopold Dilg
6,Cary Grant,1943,1.0,Destination Tokyo,actor,Capt. Cassidy
7,Cary Grant,1943,1.0,Mr. Lucky,actor,Joe Adams
8,Cary Grant,1943,1.0,Mr. Lucky,actor,Joe Bascopolous
9,Cary Grant,1944,1.0,Arsenic and Old Lace,actor,Mortimer Brewster
10,Cary Grant,1944,1.0,None But the Lonely Heart,actor,Ernie Mott
11,Cary Grant,1944,1.0,Once Upon a Time,actor,Jerry Flynn
12,Cary Grant,1946,1.0,Night and Day,actor,Cole Porter
13,Cary Grant,1946,1.0,Notorious,actor,Devlin
14,Cary Grant,1947,1.0,The Bachelor and the Bobby-Soxer,actor,Dick Nugent
15,Cary Grant,1947,1.0,The Bishop's Wife,actor,Dudley
16,Cary Grant,1948,1.0,Every Girl Should Be Married,actor,Dr. Madison Brown
17,Cary Grant,1948,1.0,Mr. Blandings Builds His Dream House,actor,Jim Blandings
18,Cary Grant,1949,1.0,I Was a Male War Bride,actor,Captain Henri Rochard

### How many roles were available for actors in the 1950s?

In [115]:
df1 = cast.set_index("year")
yr_lst = [x for x in range(1950, 1960)]
df2 = df1.loc[yr_lst]
tot_cnt = df2.loc[df2["type"] == "actor"].shape[0]

In [116]:
print(f"Total no of roles that were available for actors in the 1950s is {tot_cnt}")

Total no of roles that were available for actors in the 1950s is 154727

### How many roles were available for actresses in the 1950s?

In [126]:
# Filter the DataFrame to include only rows where the role type is "actress"
actress_roles = df2[df2['type'] == "actress"].shape[0]

In [127]:
print(f"Total no of roles that were available for actors in the 1950s is {actress_roles}")

Total no of roles that were available for actors in the 1950s is 56259

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [128]:
df1 = df.set_index("n")
df2 = df1.loc[1]
tot_cnt = df2.loc[df2["year"] < 1980].shape[0]

In [129]:
print(f"Total no of leading roles (n=1) those were available from the begining of film history through 1980 is {tot_cnt}")

Total no of leading roles (n=1) those were available from the begining of film history through 1980 is 62781

### How many non-leading roles were available through from the beginning of film history through 1980?

In [136]:
non_leading_roles = df[df['n'] != 1]

roles_through_1980 = non_leading_roles[non_leading_roles['year'] <= 1980]

num_non_leading_roles_through_1980 = len(roles_through_1980)

In [137]:
print("Number of non-leading roles available from the beginning of film history through 1980:", num_non_leading_roles_through_1980)

Number of non-leading roles available from the beginning of film history through 1980: 1094780

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [138]:
cnt = cast.loc[(cast["n"].isnull()) & (cast["year"] < 1980)].shape[0]

In [139]:
print(f"Total no of roles through 1980 were minor enough that they did not warrant a numeric 'n' rank is {cnt}")

Total no of roles through 1980 were minor enough that they did not warrant a numeric 'n' rank is 433859